body{
    font-family: 'Domine', serif;
    margin: 0;
    padding 0;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}
.half-width img{
    width: 70%;
}
.know-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.border-color-left{
    border-left: 5px solid orange;
}
.my-mission{
    text-align: center;
    margin-top: 50px;
}
.flexible-container{
    display: flex;
    justify-content: center;
}
.bg1{
    background-color: rgb(235, 188, 235);
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 180px;
    margin-bottom: 50px;
}
.bg2{
    background-color: rgb(235, 188, 235);
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 180px;
    margin-bottom: 50px;
}
.bg3{
    background-color: rgb(235, 188, 235);
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 180px;
    margin-bottom: 50px;
}
