body{
    font-family: 'Domine', serif;
    margin: 0;
    padding 0;
    box-sizing: border-box;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}
.half-width img{
    width: 70%;
}
.know-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(224, 140, 130), tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.border-color-left{
    border-left: 5px solid orange;
}
.my-mission{
    text-align: center;
    margin-top: 50px;
}
.flexible-container{
    display: flex;
    justify-content: center;
}
.bg1{
    background-color: rgb(243, 224, 243);
    border-radius: 30px;
    border-style: solid #d37e7e;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 20px;
}
.develop-limits{
    display: flex;
    margin-top: 100px;
    margin-left: 70px;
    padding-right: 100px;
    
}
.global-community{
    display: flex;
    margin-top: 100px;
    margin-left: 70px;
    padding-right: 100px;
}
.footer{
    padding: 40px 0;
    background-color: rgb(15, 15, 15);
    background-size: 30%;
}
.mission2022{
    text-align: center;
    padding-bottom: 5px;
    color: whitesmoke;

}
.hardwork{
    text-align: center;
    color: whitesmoke;
}
.about-me{
    text-align: center;
    margin-top: 80px;
}
.myself{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 70px;
    margin-right: 50px;
    padding-right: 100px;
    box-shadow: 10px 10px 40px rgb(128, 117, 117);
    border-style: outset;
    border-width: 15px;
    border-radius: 20px;
    border-color: #e59ce7f8;
}


